@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #dedecd;
}

/*---------------------------------------------------------*/

.fa-angles-down {
  font-size: 20px;
  display: flex;
  justify-content: center;
  animation: scroll-down 2.1s infinite forwards;
  color: #e28e44;
}

/*---------------------------------------------------------*/

.init-hidden {
  opacity: 0;
  transition: opacity 1s linear;
}

.scroll-hidden {
  display: none;
}

.init-hidden-off {
  opacity: 1;
}

/*---------------------------------------------------------*/

.line {
  display: flex;
  background-color: #ccccba;
}

.lineIN {
  background-color: #ccccba;
  border-bottom: solid 1px #ffbd84;
  margin: auto;
  width: 70%;
}

/*---------------------------------------------------------*/

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
}